<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Encore.Properties.Settings.EncoreConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Encore.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Encore.Properties.Settings.encoreConnectionString1"
            connectionString="user id=mospinach;password=BAisey12@#;server=localhost;database=encore;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>